*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    min-height: 200px;
    /* position: fixed; */
   
}

.contain-box{
    display: flex;
    justify-content: center;
    background-color: rgba(241, 178, 178, 0.333);
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.container-item{
    /* background: red; */
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.container-item > h3{
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
}

.container-item > input{
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    min-width: 300px;
    min-height: 30px;
}
.container-item > input:hover{
    border-color: rgb(147, 186, 172);
    cursor: pointer;
}



.container-item > button{
    width: 10rem;
    height: 2rem;
    align-self: center;
    font-weight: bold;
    background-color:rgba(255, 68, 0, 0.68);
    border: none;
    border-radius: 10px;
    color: black;
    transition: background 120ms ease-in-out;
}
.container-item > button:hover{
color: white;
background-color:rgba(24, 23, 23, 0.785);
}

.contain-result{
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background 1s ease-in-out;

}
.contain-result > p{
    margin: 2px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.contain-result >p > span{
   padding-left: 25%;
   
    
}
.contain-result:hover{
    background: rgba(155, 187, 176, 0.164);
}